.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 236px;
	padding: 10px;
	border-radius: 10px;

	/* height: 359px; */
}

.card:hover {
	box-shadow: 0 2px 4px rgb(40 41 61 / 4%), 0 8px 16px rgb(96 97 112 / 16%);
}

.card:focus-within {
	box-shadow: 0 0 1px rgb(40 41 61 / 16%), 0 0.5px 2px rgb(96 97 112 / 24%);
}

.card__desc {
	position: relative;
	padding-top: 14px;
	font-weight: 600;
	font-size: 16px;
}

.card__image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 16px;
	aspect-ratio: 1 / 1;
}

.card__old-price {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 14px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	text-decoration: line-through;
}

.card__price {
	display: block;
	margin-bottom: 6px;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}

.card__price_type_discount {
	color: #f44336;
}

.card__wight {
	display: block;
	margin-bottom: 2px;
	color: #7b8e98;
	font-size: 12px;
	line-height: 14px;
}

.card__name {
	font-size: 16px;
	line-height: 1.25;
}

.card__discount {
	padding: 2px 8px;
	color: #ffffff;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	background-color: #f44336;
	border-radius: 20px;
}

.card__sticky {
	position: absolute;
	padding: 10px;
}

.card__sticky_type_top-left {
	top: 0;
	left: 0;
}

.card__sticky_type_top-right {
	top: 0;
	right: 0;
}

.card__cart {
	margin-top: auto;
}

.card__link {
	color: currentcolor;
	text-decoration: none;
}

.card__btn {
	display: inline-block;
	padding: 10px 18px;
	color: currentcolor;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	border-radius: 55px;
	transition: background-color 0.3s;
	border: none;
}

.card__btn_type_primary {
	background-color: #ffe44d;
}

.card__btn_type_primary:hover {
	color: #f44336;
	background-color: #ffaa0d;
}

.tag {
	padding: 2px 8px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	border-radius: 20px;
}

.tag_type_new {
	color: #ffffff;
	background-color: #03a9f4;
}

.tag_type_sale {
	color: #ffffff;
	background-color: #01a54e;
}
