*,
*::after,
*::before {
	box-sizing: inherit;
}

html,
body {
	scrollbar-gutter: stable;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
}

.main {
	flex: 1 1;
}

.container {
	width: 95%;
	max-width: 1024px;
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

img {
	max-width: 100%;
}

.content {
	padding: 20px 0;
}

.content__sort {
	margin-bottom: 40px;
}

.result {
	font-size: 40px;
}

.infoText {
	margin: 20px 0;
	color: #7b8e98;
	font-size: 12px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-style: normal;
	line-height: 14px;
}

.errorMessage {
	align-self: flex-start;
	color: red;
	font-size: 12px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	text-align: end;
}

.box {
	border-radius: 20px;
	box-shadow:
		0 2px 4px rgb(40 41 61 / 4%),
		0 8px 16px rgb(96 97 112 / 16%);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip-path: inset(100%);
}
