.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 236px;
	padding: 10px;
	border-radius: 10px;

	/* height: 359px; */
}

.card:hover {
	box-shadow:
		0 2px 4px rgb(40 41 61 / 4%),
		0 8px 16px rgb(96 97 112 / 16%);
}

.card:focus-within {
	box-shadow:
		0 0 1px rgb(40 41 61 / 16%),
		0 0.5px 2px rgb(96 97 112 / 24%);
}

.desc {
	position: relative;
	padding-top: 14px;
	font-weight: 600;
	font-size: 16px;
}

.image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 16px;
	aspect-ratio: 1 / 1;
}

.oldprice {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 14px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	text-decoration: line-through;
}

.price {
	display: block;
	margin-bottom: 6px;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}

.pricetypediscount {
	color: #f44336;
}

.wight {
	display: block;
	margin-bottom: 2px;
	color: #7b8e98;
	font-size: 12px;
	line-height: 14px;
}

.name {
	font-size: 16px;
	line-height: 1.25;
}

.discount {
	padding: 2px 8px;
	color: #ffffff;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	background-color: #f44336;
	border-radius: 20px;
}

.sticky {
	position: absolute;
	padding: 10px;
}

.stickytypetopleft {
	top: 0;
	left: 0;
}

.stickytypetopright {
	top: 0;
	right: 0;
}

.cart {
	margin-top: auto;
}

.link {
	color: currentcolor;
	text-decoration: none;
}

.btn {
	display: inline-block;
	padding: 10px 18px;
	color: currentcolor;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	border: none;
	border-radius: 55px;
	transition: background-color 0.3s;
}

.btnprimary {
	background-color: #ffe44d;
}

.btnprimary:hover {
	color: #f44336;
	background-color: #ffaa0d;
}

.tag {
	padding: 2px 8px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	border-radius: 20px;
}

.tagtypenew {
	color: #ffffff;
	background-color: #03a9f4;
}

.tagtypesale {
	color: #ffffff;
	background-color: #01a54e;
}
