.input {
	position: static;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin: 8px 0;
	padding: 7px 16px;
	background: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 12px;
}

input:focus {
	border-color: #ffe44d;
	outline: none;
}

.textarea {
	height: auto;
	min-height: 100px;
	resize: none;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: flex-start;
	padding: 0 20px;
}

.form__title {
	display: flex;
	align-items: center;
	margin: 24px 0;
	color: #000000;
	font-size: 28px;
	font-family: 'Arial', 'Helvetica', sans-serif;
}

.errorMessage {
	align-self: flex-start;
	color: red;
	font-size: 12px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	text-align: end;
}

.maxContent {
	width: max-content;
}

.form__row {
	display: flex;
	gap: 12px;
	width: 100%;
}

.form__row_min {
	display: flex;
	gap: 12px;
	width: 50%;
}

.form__label {
	flex: 1 1;
}

.form__btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 24px;
	margin: 8px 0px;

	position: static;
	width: 356px;
	border-radius: 55px;

	color: #1a1a1a;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;

	cursor: pointer;
}

.form__btn.pramary {
	background: #ffe44d;
	border: none;
}

.form__btn.secondary {
	background: white;
	border: 0.5px solid #cfd8dc;
}

.form__btn.maxContent {
	width: max-content;
}
