.card-list {
	display: block;
}

.card-list__title {
	flex: 1 1;
	margin: 0;
	font-weight: 800;
	font-size: 28px;
	line-height: 32px;
}

.card-list__header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.card-list__items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	width: 100%;
}

@media (width <= 880px) {
	.card-list__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width <= 400px) {
	.card-list__items {
		grid-template-columns: repeat(1, 1fr);
	}
}
