.content {
	padding: 20px 0;
}

.container {
	width: 95%;
	max-width: 1024px;
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
}

.cart {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'info info' 'list amount';
	align-items: flex-start;
	column-gap: 60px;
}

.title {
	grid-area: info;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
}

.title span {
	font-weight: 800;
}

.list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.item {
	align-items: center;
	gap: 32px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #eceff1;
}

.item:last-of-type {
	border-bottom: none;
}

.desc {
	display: flex;
	flex-grow: 1;
	align-items: center;
	column-gap: 16px;
}

.image {
	flex-shrink: 0;
	width: 64px;
	height: 64px;
	object-fit: contain;
}

.itemtitle {
	width: 100%;
	margin: 0;
	color: currentcolor;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}

.itemprice {
	text-align: right;
}

.weight {
	margin: 0;
	color: #7b8e98;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}

.trash {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.trash:hover path {
	fill: red;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: textfield;
	appearance: none;
}

.wrap {
	position: relative;
	max-width: 200px;
	padding-top: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	display: block;
	font-weight: 800;
	font-size: 1.75em;
	line-height: 1.14;
}

.priceold {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-weight: 600;
	font-size: 1em;
	line-height: 1.42;
	text-decoration: line-through;
}

.discount {
	color: #f44336;
}

.big {
	font-size: 16px;
}

.small {
	font-size: 14px;
}

.left {
	right: auto;
	left: 0;
}

.right {
	right: 0;
	left: auto;
}

.amount {
	display: grid;
	grid-auto-rows: min-content;
	grid-area: amount;
	row-gap: 24px;
	padding: 16px;
	background: #ffffff;
	border-radius: 20px;
	box-shadow:
		0 0 1px rgb(40 41 61 / 2%),
		0 2px 16px rgb(96 97 112 / 16%);
}

.amounttitle {
	margin: 0;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}

.table {
	display: grid;
	row-gap: 16px;
}

.tablerow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tabletitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.tablevalue {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}

.tablevaluediscount {
	color: #f44336;
}

.totalcost {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.totalcosttitle {
	font-weight: 800;
	font-size: 14px;
	line-height: 20px;
}

.totalcostvalue {
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}

.button {
	display: inline-flex;
	align-items: center;
	padding: 10px 18px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	column-gap: 8px;
	border: 2px solid transparent;
	border-radius: 55px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.primary {
	background-color: #ffe44d;
}

.primary:hover {
	color: #f44336;
	background-color: #ffaa0d;
}

.ligth {
	color: #1a1a1a;
	background-color: #ffffff;
}

.ligth:hover {
	background-color: #eceff1;
}

.secondary {
	color: #1a1a1a;
	background-color: transparent;
	border-color: #cfd8dc;
}

.secondary:hover {
	border-color: #7b8e98;
}

.border {
	color: #1a1a1a;
	background-color: transparent;
	border-color: #cfd8dc;
}

.border:hover {
	border-color: #7b8e98;
}

.box {
	padding: 16px 16px 16px 28px;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	border-radius: 60px;
	box-shadow:
		0 0 1px rgb(40 41 61 / 2%),
		0 2px 16px rgb(96 97 112 / 16%);
}

.wide {
	width: 100%;
}
