.header {
	width: 100%;
	padding: 12px 0;
	background-color: #ffe44d;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-weight: 600;
	font-size: 18px;
}

.iconsmenu {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.favoriteslink {
	position: relative;
	width: 34px;
	height: 34px;
}

.iconsmenu svg {
	width: 100%;
	height: 100%;
}

.iconbubble {
	position: absolute;
	bottom: 60%;
	left: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.25;
	background-color: #01a54e;
	border: 2px solid #ffe44d;
	border-radius: 50%;
}

.iconsmenuitem {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #1a1a1a;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}

.iconsmenuitem svg {
	flex-shrink: 0;
	width: 28px;
	height: 28px;
	fill: currentcolor;
}
