.header {
	width: 100%;
	padding: 12px 0;
	background-color: #ffe44d;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}

@media (width <= 700px) {
	.header__wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}

.header__profile {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-weight: 600;
	font-size: 18px;
}

.header__icons-menu {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.header__favorites-link {
	position: relative;
	width: 34px;
	height: 34px;
}

.header__icons-menu svg {
	width: 100%;
	height: 100%;
}

.header__icon-bubble {
	position: absolute;
	bottom: 60%;
	left: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.25;
	background-color: #01a54e;
	border: 2px solid #ffe44d;
	border-radius: 50%;
}

.header__icons-menu-item {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #1a1a1a;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}

.header__icons-menu-item svg {
	flex-shrink: 0;
	width: 28px;
	height: 28px;
	fill: currentcolor;
}

.header__wraper {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	gap: 2em;
}
