.wrap {
	padding: 20px 40px;
}

.likewrap {
	padding: 20px 0;
}

.headertitle {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.5;
}

.product {
	display: flex;
	gap: 100px;
	margin-top: 23px;
	margin-bottom: 40px;
}

.producttitle {
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
}

.productimgwrapper {
	flex: 1 1;
}

.productdesc {
	flex-shrink: 0;
	max-width: 400px;
}

.productbtnwrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin-bottom: 24px;
}

.productcart {
	flex: 1 1;
	padding: 14px 70px;
}

.productleft {
	height: 48px;
	background-color: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 100px;
}

.productplus,
.productminus {
	width: 40px;
	height: 100%;
	font-size: 24px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.productnum {
	display: inline-block;
	width: 30px;
	font-weight: 700;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
}

.productdelivery {
	display: flex;
	align-items: flex-start;
	padding: 12px;
	background-color: rgb(236 239 241 / 60%);
	border-radius: 12px;
}

.productdelivery:not(.delivery:last-child) {
	margin-bottom: 8px;
}

.productright {
	margin-left: 12px;
}

.productname {
	margin-top: 0;
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.producttext {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.producttext:not(.text:last-child) {
	margin-bottom: 8px;
}

.productbold {
	font-weight: 700;
}

.productsubtitle {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.productgrid {
	display: grid;
	grid-template-columns: 1fr 5fr;
	row-gap: 20px;
	margin-bottom: 40px;
}

.productnaming {
	color: #7b8e98;
	font-size: 16px;
	line-height: 20px;
}

.productdescription {
	font-size: 16px;
	line-height: 20px;
}

.productdescription p {
	margin-bottom: 12px;
}

.productbox {
	display: flex;
	flex-direction: column;
}

.productfavorite {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
}

.productfavorite svg {
	fill: #ffffff;
}

.productfavorite svg path:first-child {
	fill: #7b8e98;
}

.productfavoriteactive svg {
	fill: #f44336;
}

.productfavoriteactive svg path:first-child {
	fill: #f44336;
}

.productreviews {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (width <= 1000px) {
	.productproduct {
		gap: 20px;
	}
}

@media (width <= 768px) {
	.productproduct {
		flex-direction: column;
	}

	.productdesc {
		width: 100% !important;
		max-width: initial;
	}

	.productgrid {
		column-gap: 10px;
	}
}

@media (width <= 400px) {
	.productcart {
		padding: 14px 20px;
	}
}

.pricewrap {
	position: relative;
	max-width: 200px;
	padding-top: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	display: block;
	font-weight: 800;
	font-size: 1.75em;
	line-height: 1.14;
}

.priceold {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-weight: 600;
	font-size: 0.88em;
	line-height: 1.42;
	text-decoration: line-through;
}

.pricediscount {
	color: #f44336;
}

.pricebig {
	font-size: 16px;
}

.pricesmall {
	font-size: 14px;
}

.priceleft {
	right: auto;
	left: 0;
}

.priceright {
	right: 0;
	left: auto;
}

.buttoncount {
	display: inline-flex;
	align-items: center;
	height: 48px;
	background-color: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 100px;
}

.buttoncountplus,
.buttoncountminus {
	width: 40px;
	height: 100%;
	padding: 0;
	font-size: 24px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.buttoncountnum {
	display: inline-block;
	width: 30px;
	padding: 0;
	font-weight: 700;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
	border: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: textfield;
	appearance: none;
}

.buttontypeprimary {
	background-color: #ffe44d;
}

.buttontypeprimary:hover {
	color: #f44336;
	background-color: #ffaa0d;
}

.button {
	display: inline-flex;
	align-items: center;
	padding: 10px 18px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	column-gap: 8px;
	border: 2px solid transparent;
	border-radius: 55px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.review {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eceff1;
}

.review:last-child {
	border-bottom: none;
}

.reviewname {
	color: #1a1a1a;
	font-weight: 800;
	font-size: 20px;
	font-style: normal;
	line-height: 24px;
}

.reviewdate {
	color: #7b8e98;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.reviewcity {
	color: #7b8e98;
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
}

.reviewtext {
	margin-top: 8px;
	margin-bottom: 0;
	color: #1a1a1a;
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
}

.reviewheader {
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

.form {
	align-items: flex-start;
}

.maxContent {
	width: max-content;
}

.formrow {
	display: flex;
	gap: 12px;
	width: 100%;
}

.formrowmin {
	display: flex;
	gap: 12px;
	width: 50%;
}

.formlabel {
	flex: 1 1;
}

.input {
	position: static;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin: 8px 0;
	padding: 7px 16px;
	background: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 12px;
}

input:focus {
	border-color: #ffe44d;
	outline: none;
}

.textarea {
	height: auto;
	min-height: 100px;
	resize: none;
}

.formbtn {
	position: static;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 356px;
	margin: 8px 0;
	padding: 14px 24px;
	color: #1a1a1a;
	font-weight: 700;
	font-size: 16px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-style: normal;
	line-height: 20px;
	border-radius: 55px;
	cursor: pointer;
}

.formbtn.pramary {
	background: #ffe44d;
	border: none;
}

.formbtn.secondary {
	background: white;
	border: 0.5px solid #cfd8dc;
}

.formbtn.maxContent {
	width: max-content;
}
